body {
  margin: 0;
  padding: 0;
  font-family: Georgia;
}

.iconoInicio{
  width: 15%;
  height: 5%;
}
/*
.navbar-toggler.collapsed 
{
  margin-left: 85%;
  margin-top:-12%;
}
*/
.bg-light {
  background-color: #ffffff!important;
}

.comienzaCambio{
  font-family: Georgia
}


.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
  width: 24%;
}

.card:hover {
  transform: scale(1.04);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.ultimosLanzamientos
{
  margin-left: 5%;
  margin-top: 5%;
}


/*
.footer 
{
      background-color: #333;
			color: #fff;
			padding: 20px;
			position: fixed;
			bottom: 0;
			width: 100%;     
}
*/
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  padding-top: 40px; /* Ajustar padding superior */
}
.card button {
  background-color: #5a8ca3; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espaciado interior */
  text-align: center; /* Alinear texto al centro */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Mostrar como bloque */
  font-size: 16px; /* Tamaño de fuente */
  margin: 10px 0; /* Margen superior e inferior */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.5s ease, color 0.5s ease;

}
.nav-link{
  text-align: center;
}

.card button:hover {
  background-color: #555555;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;

}

.boxes {
  display: flex;
  justify-content: space-around; /* Espacio equitativo entre las cajas */
  margin-top: 5%;
  margin-bottom: 100px;
}

.box {

    display: flex;
    align-items: center;
    padding: 30px 30px;
    border: 3px solid #ccc;
    border-radius: 5px;
    width: calc(24% - 10px);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    background-color: #bec0c3; /* Color de fondo de las cajas */

}

.box:hover {
  background-color: #f5f5f5;
  transform: translateY(-3px);
}

.box img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.box h3 {
  font-size: 16px;
  margin: 0;
}

.box-icon-left {
  position: absolute;
  left: 0;
  top: 30%;

}

.box-icon-right {
  position: absolute;
  right: 0;
  top: 30%;

}

.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #278aab;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 100%;
  font-size: 16px;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scroll-top-btn.show {
  opacity: 1;
}

.caja {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.caja h1 {
  margin-top: 0;
}


.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.caja {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
}

.slider-container {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  position: relative;
}

.gallery {
  position: relative;
  width: 80%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slides img {
  width: 100%;
  height: auto; /* Cambia height a auto */
  max-height: 100%; /* Agrega esta propiedad */
  object-fit: cover;
}

.slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev-btn,
.next-btn {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.prev-btn:hover,
.next-btn:hover {
  color: #777;
}

.divider {
  border-right: 1px solid #d40e0e;
}

.carousel-item img {
  height: auto;
  width: 100%;
}

.col-md-6 {
  margin-top: 0%;
  margin-bottom: 50px;
  margin-left: -20px;
}

.contacto-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  float: right;
  margin-right: -25px;
  margin-top: 50px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px #ccc;
}

.container {
  margin-top: 20px;
}

.contacto-container {
  margin-top: 20px;
}

.map{
  height: 600px;
  padding-bottom: 56.25%;
}
.map-form-row {
  margin-bottom: 40px;
}


@media (min-width: 768px) {
  .col-md-6:first-child {
    margin-right: 20px;
  }
}




/*******/
/* Estilos para dispositivos móviles */

@media only screen and (max-width: 767px) {
  /* Navbar */
  .navbar-toggler.collapsed {
    margin-left: auto;
    margin-right: 0;
    margin-top: 1rem;
  }
  
  /* Icono de inicio */
  .iconoInicio {
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  
  /* Contenedor de las tarjetas */
  .card-container {
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .card {
    width: 90%;
    margin: 0 auto 2rem;
  }
  
  /* Últimos lanzamientos */
  .ultimosLanzamientos {
    margin-left: 0;
    margin-top: 3rem;
  }
  
  /* Cajas */
  .boxes {
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .box {
    width: 45%;
    margin-bottom: 2rem;
  }
  
  /* Botón de scroll */
  .scroll-top-btn {
    display: none;
  }
  
  /* Contenedor de contacto */
  .contacto-container {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Mapa */
  .map {
    height: 300px;
  }
  
  /* Mapa y formulario */
  .map-form-row {
    display: block;
    margin-bottom: 2rem;
  }
}
